.youtubeSection {
  max-width: 1400px;
  margin: 10px auto;
  padding: 10px 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  iframe {
    border-radius: 10px;
    border: 1px solid rgba(91, 111, 167, 0.482);
  }
  .textYtb {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    background-color: rgba(91, 111, 167, 0.1058823529);
    padding: 5px;
    border-radius: 10px;
    h2 {
      font-size: 1rem;
      color: $greenMenthe;
    }
    h3 {
      letter-spacing: 1px;
      font-size: 1.2rem;
    }
    p {
      letter-spacing: 1px;
    }
  }

  .video2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    iframe {
      width: 300px;
      height: 130px;
    }
  }
}
